<!DOCTYPE html>
<html>
  <head>
    <title>NewMessage</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>NewMessage</h1>
    <p>Welcome to NewMessage</p>
    <form method="POST" action="/new">
        <label for="name">Name</label>
       <input name="name" type="text" placeholder="name"/>
       <label for="message">Message</label>
       <textarea name="message" type="text" placeholder="message"> </textarea>
           <button type="submit"></button>
     </form>
  </body>
</html>
